/* .dwi{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: pink;
    background-color:cornflowerblue
}
.dwi{
    border-radius: 30px;
}


img{
        width: 350px;
        height: auto; 
        background-position: center;
      
      
} */